/* :root {
  --neutral-color: hsl(219, 84%, 71%);
  --chosen-option-color: hsl(288, 84%, 71%);
  --chosen-hover-color: hsl(288, 64%, 71%);
  --picked-option-color: hsl(61, 79%, 72%);
  --correct-color: hsl(140, 56%, 38%);
  --call-to-action-color: hsl(140, 66%, 57%);
  --false-color: hsl(0, 76%, 48%);
  --neutral-hover-color: hsl(218, 72%, 83%);
} */

:root {
  --neutral-color: hsl(219, 84%, 71%);
  --neutral-hover-color: hsl(218, 72%, 83%);
  --chosen-option-color: hsl(288, 84%, 71%);
  --chosen-hover-color: hsl(288, 64%, 71%);
  --picked-option-color: hsl(61, 79%, 72%);
  --correct-color: hsl(140, 56%, 38%);
  --call-to-action-color: hsl(140, 66%, 57%);
  --false-color: hsl(0, 76%, 48%);
  --background: hsl(210,51%,89%);
}

@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Pangolin', cursive;
  /* font-size: 101%; */
}

button {
  background-color: var(--call-to-action-color);
  border: 1px solid black;
  border-radius: 9px;
  padding: 1em;
  width: 100%;
  font-size: 90%;
  box-shadow: 0 0 9px black;
}

button:hover {
  cursor: pointer;
}

.undesirable {
  background-color: var(--neutral-color);
}

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}

header {
  text-align: center;
  margin: 1em 1em 0em 1em;
}

header a {
  text-decoration: none;
  color: black;
}

footer {
  margin-top: auto;
  text-align: center;
  line-height: 2em;
}

.category-item {
  margin: 1em;
  border-radius: 9px;
  border: 1px solid blue;
  background-color: var(--neutral-color);
  padding: 1em;
  user-select: none;
}

.category-checkbox {
  cursor: pointer;
}

.category-item:hover {
  background-color: var(--neutral-hover-color);
  border-color: var(--neutral-color);
  color: rgb(32, 32, 32);
  cursor: pointer;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.space-evenly {
  justify-content: space-evenly;
}

.controls,
.dashboard {
  position: sticky;
  top: 0;
  background-color: var(--background);
  padding: 1em;
  /* box-shadow: 0 10px 9px black; */
}

.new-game-options {
  gap: 10px;
}

.chosen {
  /* position: sticky;
  top: 1em; */
  background-color: var(--chosen-option-color);
}

.chosen:hover {
  background-color: var(--chosen-hover-color);
}

/* trivia section */

.trivia-snippet {
  margin: 1em;
  border-radius: 9px;
  background-color: blanchedalmond;
  box-shadow: 3px 3px 9px black;
}

.question {
  border-radius: 9px 9px 0 0;
  background-color: hsl(229, 53%, 79%);
  padding: 0.5em;
  border-bottom: 1px solid black;
}

.answer-choice {
  margin: 0.25em auto;
  padding: 0.25em;
}

.answers {
  padding: 0.15em 0.1em;
}

.correct {
  background-color: var(--call-to-action-color);
}

.incorrect {
  background-color: var(--false-color);
}

.actually {
  background-color: var(--picked-option-color);
}

/* .submit-container {
  
} */

.trivia-submit {
  text-decoration: none;
  font-family: unset;
  font-size: unset;
  border: none;
  margin: auto 1em;
  background-color: var(--call-to-action-color);
  width: auto;
  text-align: center;
  padding: 1em 2em;
  border-radius: 10px;
}

.trivia-submit:hover {
  cursor: pointer;
}

.not-ready {
  background-color: hsl(120, 30%, 76%);
}

.not-ready:hover {
  cursor: not-allowed;
}