:root {
  --neutral-color: hsl(219, 84%, 71%);
  --picked-option-color: hsl(61, 79%, 72%);
  --correct-color: hsl(140, 56%, 38%);
  --false-color: hsl(0, 76%, 48%);
  --neutral-hover-color: hsl(218, 72%, 83%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  margin: 1em;
}

header a {
  text-decoration: none;
  color: black;
}

footer {
  margin-top: auto;
  text-align: center;
  line-height: 2em;
}

.category-item {
  margin: 1em;
  border-radius: 9px;
  border: 1px solid blue;
  background-color: var(--neutral-color);
  padding: 1em;
  user-select: none;
}

.category-checkbox {
  cursor: pointer;
}

.category-item:hover {
  background-color: var(--neutral-hover-color);
  border-color: var(--neutral-color);
  color: rgb(32, 32, 32);
  cursor: pointer;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.space-evenly {
  justify-content: space-evenly;
}

.controls {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 1em;
}

/* trivia section */

.trivia-snippet {
  margin: 1em;
  background-color: blanchedalmond;
}

.question {
  background-color: hsl(229, 53%, 79%);
  padding: 0.5em;
}

.answer-choice {
  margin: 0.25em auto;
  padding: 0.25em;
}

/* .submit-container {
  
} */

.trivia-submit {
  text-decoration: none;
  font-family: unset;
  font-size: unset;
  border: none;
  margin: auto 1em;
  background-color: green;
  width: auto;
  text-align: center;
  padding: 1em 2em;
  border-radius: 10px;
}

.trivia-submit:hover {
  cursor: pointer;
}

.not-ready {
  background-color: hsl(120, 30%, 76%);
}

.not-ready:hover {
  cursor: not-allowed;
}